/* 
---------------------------------------------------------------------------
Simple.css overrides
---------------------------------------------------------------------------
*/

body {
  grid-template-columns: 1fr 95% 1fr;
}

main {
  text-align: center;
}

#scoreboard {
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  text-align: center;
}

#msgbox {
  visibility: hidden;
}

/* 
---------------------------------------------------------------------------
SVG styles 
---------------------------------------------------------------------------
*/

:root {
  --stroke-color: #000;
  --fill-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-color: #fff;
    --fill-color: #fff;
  }
}

circle {
  stroke: var(--stroke-color);
}

line {
  stroke: var(--stroke-color);
}

text {
  fill: var(--fill-color);
}
