/* 
---------------------------------------------------------------------------
Simple.css overrides
---------------------------------------------------------------------------
*/

body {
  grid-template-columns: 1fr 95% 1fr;
}

main {
  text-align: center;
}

#scoreboard {
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  text-align: center;
}

#msgbox {
  visibility: hidden;
}

/* 
---------------------------------------------------------------------------
SVG styles 
---------------------------------------------------------------------------
*/

circle {
  stroke: #000;
}

line {
  stroke: #000;
}

text {
  fill: #000;
}

@media (prefers-color-scheme: dark) {
  circle {
    stroke: #fff;
  }

  line {
    stroke: #fff;
  }

  text {
    fill: #fff;
  }
}
